{% extends 'base.html' %}

{% block content %}
    <h1>flux</h1>
    <div class="create">
        <spam><a href="{% url 'create-ticket' %}">Demander une critique</spam>
        <spam><a href="{% url 'create-ticket-and-review' %}">Creer une critique</spam>
    </div>
    {% for post in posts %}
        {% if post.type == "ticket" %}
            {% include "ticket.html" %}
            {% if not post.has_review %}
                <form method="POST" action="{% url 'create-review'  post.id%}">
                    {% csrf_token %}
                    <button type='submit'>Répondre</button>
                </form>
            {% endif %}
        {% elif post.type == "review" %} 
            {% include "review.html" %}
        {% endif %}
    {% endfor %}

{% endblock content %}