{% extends 'base.html' %}

{% block content %}
    <h1>flux</h1>
    <div class="create">
        <p><a href="{% url 'create-ticket' %}">Demander une critique</a></p>
        <p><a href="{% url 'create-ticket-and-review' %}">Creer une critique</a></p>
    </div>
    
    {% for post in posts %}

        {% if post.type == "ticket" %}
            <div class= "post">
                {% if user == post.user %} 
                    <p> Vous avez demandé une critique</p>
                {% else %}
                    <p>{{post.user }} a demandé une critique</p>
                {% endif %}
                {% include "ticket.html" %}
                {% if not post.has_review %}
                    <form method="POST" action="{% url 'create-review'  post.id%}">
                        {% csrf_token %}
                        <button class="envoyer" type='submit'>Creer une critique</button>
                    </form>
                {% endif %}
            </div>

        {% elif post.type == "review" %}
            <div class = "post">
                {% include "review.html" %}
            </div>
        {% endif %}
        
    {% endfor %}

{% endblock content %}