{% extends 'base.html' %}

{% block content %}
    <h1> Suivre d'autres utilisateurs</h1>
    <form id="search_users" method="post" action="{% url 'search-users' %}">
        {% csrf_token %}
        <input type="text" name="search" maxlength="25" value="" placeholder="Nom d'utilisateur">
        <button class="btn" type='submit'>Envoyer</button>
       
    </form>
    <p style="text-align: center"> {{ message }} <p>


    <ul >
        {% for user in found_users %}
        <form method="post" action="{% url 'subscribe-user' %}">
            {% csrf_token %}
            <input name="username" type="hidden" value="{{ user.username }}">
            <li class="sub">
                <p class="user">{{ user.username }}</p>
                <button type="submit" >S'abonner</button>
            </li>
        </form>
        {% endfor %}
    </ul>
    
    <div class="align_h2">
        <h2>Abonnements</h2>
        <ul >
            {% for user_follow in users_follow %}
                <form id="form_abn" method="POST" action="{% url 'unsubscribe-user' user_follow.id %}">
                    <li class="sub">
                        {% csrf_token %}    
                        <p class="user">{{ user_follow.followed_user }}</p>
                        <button type='submit'>Se desabonner</button>
                    </li>
                </form>
            {%  endfor %}
        </ul>
    </div>
    
    <div class="align_h2">
        <h2>Abonnés</h2>
        <ul >
            {% for followed_by_user in followed_by %}
            <li class="sub">
                <p class="user">{{ followed_by_user.user}}</p>
            </li>
            {%  endfor %}
        </ul>
    </div>
{% endblock content %}