{% extends 'base.html' %}

{% block content %}

  {% if post.type == "review" %}
      <h1> Modifier votre critique</h1>
      <div class="post">
        {% include "ticket.html" with post=post.ticket %}
      </div>
  {% else %}
  <h1> Modifier votre ticket</h1>
  {% endif %}

  <form class="formulaire" method="post" enctype="multipart/form-data">
    <p>critique</p>
    {% csrf_token %}
    {{ form.as_p }}
    {% if post.image.url is not None %}
      {{ post.image  }}
      <img src="{{ post.image.url }}" alt="">
    {% else %}
      <p>Le ticket ne comporte pas d'image</p>
    {% endif %}
    <input type="submit" value="Envoyer">
 </form>
{% endblock %}