{% extends 'base.html' %}

{% block content %}
    <h1>post</h1>
    {% for post in posts %}
        <div class = "post">
            {% if post.type == "ticket" %}
                <p> Vous avez publié un ticket </p>
                {% include "ticket.html" %}
                
            {% elif post.type == "review" %} 
                {% include "review.html" %}
            {% endif %}
            <div class="envoyer">
                <form method="GET" action="{% url 'post-update' post.type post.id %}">
                    {% csrf_token %}
                    <button type='submit'>Modifier</button>
                </form>

                <form method="GET" action="{% url 'post-delete' post.type post.id %}">
                    {% csrf_token %}
                    <button type='submit'>Supprimer</button>
                </form>
            </div>
        </div>
    {% endfor %}
{% endblock content %}