{% load static %}

<html>
    <head>
        <title>LitReview</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <nav class="navigation">
            <img src="{% static 'LitReview/logo.png' %}" alt="logo LitReview" width="100px" height="150px">
            {% if user.is_authenticated %} 
                <p>Bienvenue {{ request.user }}.</p> 
                <p><a href="{% url 'password_change' %}">changer votre mot de passe ?</a></p>
                <p><a href='{% url "subcription" %}'>s'abonner à un utilisateur</a></p>
                <p><a href='{% url "create-ticket" %}'>Creer un ticket</p>
                <p><a href="{% url 'logout' %}">Se déconnecter</a></p>
            {% endif %}
        </nav>
        <div class="main">
            {% block content %}{% endblock content %}
        </div>
        
    </body>
</html>
