body {
    display: flex;
    flex-direction: column;
}


/* general */
h1 {
    text-align: center;
}

.envoyer {
    margin: 0 0 5 75%;
    display: flex;
}

.en_tete {
    display: flex;
    justify-content: space-between;
}

span {
    font-size: 15px;
    font-weight: normal;
}

.main {
    display: flex;
    flex-direction: column;
}

/* barre de navigation */
.conteneur_nav {
    background-color: antiquewhite;
    color: blueviolet;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 15px;
}

.nav {
    display: flex;
    width: 30%;
    justify-content: space-around;
    order:3;
    padding: 50 10 25;
}


.bienvenue {
    order: 1;
    padding: 50 10 25;
    text-align: center;
}

#logo {
    order: 2
}

/* connexion */
.loggins {
    justify-content: center;
    text-align: center;
}
/* page flux */

.create {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-around;
    margin: 0 25%;
}

/* page post */



/* demander une critique */

.create_ticket {
    border: 4px double black;
}

.create_ticket p {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

/* ticket*/

.ticket {
    border:5px double black;
    margin: 10 10%;
    color: black;
}

.image-ticket {
    height: 150px;
    width: 100px;
}

/* review */
.review {
    border:5px double black;
    margin: 5 10%;
    color: black;
}
.review-ticket {
    margin: 5px 10px 5px 10px;
}

/* abonnements*/

#search_users {
    display: flex;
    justify-content: center;
}

#search_users input {
    width: 75%;
    height: 30px;
}

.btn {
    border-radius: 15%;
}

.abonnements {
    text-align: center;
}

ul {
    list-style-type: none;
    display: flex;
}